h1{
    font-size: 50px;
    color: orange;
    border: 2px solid yellow;

}
h4{
    color: orange;
}
li{
    color:  orangered;
}

body{
    background-image: url('https://cdn.dribbble.com/users/787991/screenshots/2031467/jupiter-large.gif');
    background-repeat: no-repeat;
    background-size: cover;
}