h1{
    font-size: 55px;
    border: 2px solid yellow;
}
h4{
    font-size: 40px;
    background-color: orange;
}
li{
    font-size: 25px;
}
.whitetext{
    font-family: 'Courier New';
    font-weight: bold; 
    color:  #ffffff;
}
.bluetext{
    font-family: 'Courier New';
    font-weight: bold; 
    color:  #3b00fc;
}

