body{
    background-image: url('https://cdn.dribbble.com/users/787991/screenshots/2031467/jupiter-large.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

h1{ 
    color: #0707ee;
    text-align: center;
    font-size: 55px;
    font-family: enable;
    font-family: 'Geostar Fill', cursive;
    background-color: #ffa500;
    border: 2px solid white;
}

h4{
    text-decoration: underline;
    font-size: 50px;
    font-family: 'Edu SA Beginner', cursive;;
    background-color: #ffa500;
}
li{ 
    font-weight: bolder;
    font-size: 35px;
    font-family: 'Edu SA Beginner', cursive;
}
.whitetext{
    
    color:  #ffffff;
}
.bluetext{
    
     
    color:  #e7fc00;
}

